* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    color: black;
}

body {
    background-color:#d8cbcb;
    background-repeat: no-repeat;
    background-attachment: fixed
}

/* .item:hover .item-vote{
    display: block !important;  
} */

.item:hover .poster-img{
    transform: scale(1.1);
}

.item:hover .poster-name{
    transform: translate(0,10px);
}


#pagecontent {
    position: relative;
    /* width: 100vw; */
    padding-bottom: 15vw;
}

.page1-top {
    /*display: none;*/
    position: relative;
    width: 100%;
    height: 20vw;
}

.top-right {
    position: absolute;
    top: 2vw;
    left: 70vw;
    width: 20vw;
    height: 15.5vw;
    background-image: url('../img/logo.png');
    background-size: 100% 100%;
}

.top-leftU {
    position: absolute;
    top: 5vw;
    left:  5vw;
    font-size: 45px;
}

.top-leftD {
    position: absolute;
    top: 10vw;
    left: 5vw;
    font-size: 23px;
    color: rgba(0, 0, 0,0.6);
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.page1{*/
/*background:url("../img/common/bg-top.png") 0 0 no-repeat,url("../img/common/bg.png") 0 0 / 100% 100%;*/

/*}*/
.topic {
    width: 89vw;
}

.toppic-top0 {
    margin-top: 2.233vw;
}

.toppic-top1 {
    margin-top: 2.292vw;
}

.title {
    font-size: 20px;
    margin-bottom: 1.175vw;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-img {
    width: 12.604vw;
    height: 17.917vw;
    /*background-color: red;*/
    position: relative;
    background-size: 100% 100%;
    border-radius: 3px;
}

.poster-name {
    margin-top: 0.538vw;
    font-size: 13px;
    text-align: center;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-size: 80%;
    border-radius: 3px;
    border: 1px solid;
    border-color: white;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: none;
}

.item-vote {
    background-image: url("../img/btn_vote.png");
}

.item-voted {
    background-image: url("../img/btn_voted.png");
}

.page-submit {
    position: relative;
    background-image: url("../img/btn_submit_disable.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17.083vw;
    height: 4.792vw;
    margin-top: 4vw;
}

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 1;
    display: none;
}

.dialog-main {
    position: absolute;
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(202, 208, 227), rgb(147, 161, 180));
}

.dialog-input {
    border: none;
    background-color: transparent;
    width: 22vw;
    position: absolute;
    top: 10vw;
    text-align: center;
    font-size: 1vw;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 3vw;
    outline: none;
    -webkit-user-select: auto;
    user-select: auto;
    color: black;
}

.dialog-title {
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    top: 2vw;
    color: black;
}

.dialog-tips {
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    top: 5.5vw;
    color: black;
    text-align: center;
}

.dialog-button {
    position: absolute;
    background-image: url("../img/btn_submit.png");
    width: 9vw;
    height: 4vw;
    background-size: 100%;
    background-repeat: no-repeat;
    right: 5vw;
    top: 15vw;
}

.dialog-skip {
    position: absolute;
    background-image: url("../img/btn_skip.png");
    width: 9vw;
    height: 4vw;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 5vw;
    top: 15vw;
}

#tip {
    min-width: 18.75vw;
    height:3.333vw;
    background-color: #fff;
    font-size: 1.354vw;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    z-index: 3;
    font-family: 'Proxima Nova Lt';
    padding: 8px 4px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.tip-icon{
    background:url('../img/exclamation_icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1.354vw;
    height: 1.354vw;
    margin-right:0.521vw;
}

.vote-over {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/s2_web_complete.png');
    background-position: center center;
    background-size:100% auto;
    display: none;
    top: 0
}

.vote-over2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/complete_pc.png');
    background-position: center center;
    background-size:100% auto;
    display: none;
    top: 0
}